<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello template 페이지입니다</h1>
<h2>mustache 테스트 페이지입니다</h2>
<h2>제 이름은 {{name}} </h2>
</body>
</html>